<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{::title}, ~{::style}, ~{::script}, ~{::section})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
    <link th:fragment="style" rel="stylesheet" type="text/css" th:href="@{/css/product/productList.css}" />
</head>
<body>
    <section>
        상품리스트

        <div th:replace="~{fragment/pagination :: pagination(${pagination})}"></div>
    </section>

    <script th:fragment="script" th:src="@{/js/user/login.js}"></script>
</body>
</html>