<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{::title}, ~{::style}, ~{::script}, ~{::section})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}">상품명</title>

    <!-- CSS -->
    <th:block th:fragment="style">
        <!-- Custom -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/product/productDetail.css}" />
    </th:block>

</head>
<body>
    <section>
        <div id="container">
            <!-- 상품 정보 시작 -->
            <div id="detailWrap" style="display: flex; max-width: 1400px;">
                <!-- 썸네일 -->
                <div id="prod_thumnail" style="flex: 1; max-width: 700px;">
                    <img th:src="@{'/images/product/thumbnail/'+${product.thumbnail}}" style="width: 700px; height: 700px;">
                </div>

                <!-- 상품정보 -->
                <div id="prod_info" style="flex: 1; max-width: 700px;">
                    <div>
                        <span th:text="${product.name}" style="font-size: 24pt; font-weight: bold;">상품명</span>
                    </div>

                    <div style="text-align: right;">
                        <span th:text="|${#numbers.formatInteger(product.price, 3, 'COMMA')} 원|" style="font-size: 24pt; font-weight: bold;">상품 가격</span>
                    </div>
                    <hr style="border: none; border-top: 1px solid black; margin-bottom: 4%;">

                    <!-- 재고가 0이면 품절 표시 -->
                    <div th:if="${product.inventory == 0}">
                        <img th:src="@{/images/product/soldout.png}" style="top: 0; left: 0; width: 37px; height: 20px; opacity: 1.0;">
                    </div>

                    <!-- 배송비 -->
                    <div style="align-items: center;">
                        <span style="font-size: 12pt">배송비</span>
                        <span class="deliveryCost" style="font-size: 12pt">2,500원</span>
                    </div>
                    <hr style="border: none; border-top: 1px solid #DADADA; margin-top: 4%;">

                    <!-- 수량 -->
                    <div style="display: flex; align-items: center;">
                        <span>수량</span>
                        <span class="quantity" data-price="${product.price}" data-inventory="${product.inventory}">
                            <button th:classappend="${product.inventory == 0} ? 'disabled'" type="button" class="minus">-</button>
                                <input th:if="${product.inventory > 0}" type="text" class="qty" value="1" readonly></input>
                                <input th:if="${product.inventory == 0}" type="text" class="qty" value="0" readonly></input>
                            <button th:classappend="${product.inventory == 0} ? 'disabled'" type="button" class="plus">+</button>
                        </span>
                    </div>
                    <hr style="border: none; border-top: 1px solid #DADADA; margin-bottom: 6%;">


                    <!-- 총 상품금액(수량) -->
                    <div style="display: flex; align-items: center;">
                        <span style="font-size: 12pt; font-weight: bold;">총 상품금액(수량): </span>
                        <span id="totalPrice" style="font-size: 15.6pt; font-weight: bold; margin-left: auto;"></span>
                    </div>
                    <hr style="border: none; border-top: 1px solid #DADADA; margin-top: 6%;">

                    <!-- 장바구니 or 구매 -->
                    <div th:if="${product.inventory > 0}" style="display: flex; margin-top: 6%;">
                        <div id="addCart" class="cart" style="flex: 1; height: 52px; display: flex; justify-content: center; align-items: center;">
                          <span>장바구니 담기</span>
                        </div>
                        <div id="checkout" class="purchase" style="flex: 1; display: flex; justify-content: center; align-items: center;">
                          <span>바로 구매하기</span>
                        </div>
                    </div>
                    <div th:if="${product.inventory == 0}" class="soldout" style="flex: 1; height: 52px; display: flex; justify-content: center; align-items: center;">
                      <span>SOLD OUT</span>
                    </div>
                </div>
            </div>
            <!-- 상품 정보 끝 -->

            <div id="godetail" class="detailEmptyDiv"></div>

            <!-- 상세정보 / 이용안내 / 상품후기 / 문의하기 시작-->
            <div id="detailWrap2" style="max-width: 1400px;">
                <!-- 상세정보 -->
                <div id="detailInfo" class="fixed">
                    <ul style="display: flex;">
                        <li class="detail"><a href="#godetail" class="detailBar">상세정보</a></li>
                        <li><a href="#goguide" class="detailBar">이용안내</a></li>
                        <li><a href="#goreview" class="detailBar">상품후기<span class="reviewCnt">2</span></a></li>
                        <li><a href="#goinquire" class="detailBar">문의하기</a></li>
                    </ul>
                    <p>
                        <img th:src="@{'/images/product/description/'+${product.description}}" style="width: 850px; height: auto;">
<!--                        <span th:text="${product.description}"></span>-->
                        <div id="goguide" class="guideEmptyDiv"></div>
                    </p>
                </div>

                <!-- 이용안내 -->
                <div id="guideInfo" >
                    <ul style="display: flex;">
                        <li><a href="#godetail" class="detailBar">상세정보</a></li>
                        <li class="guide"><a href="#goguide" class="detailBar">이용안내</a></li>
                        <li><a href="#goreview" class="detailBar">상품후기<span class="reviewCnt">2</span></a></li>
                        <li><a href="#goinquire" class="detailBar">문의하기</a></li>
                    </ul>
                    <div id="guide" class="guideText" style="height: auto;">
                        <span class="paymentTextTitle">상품결제정보</span>
                        <span class="paymentTextContetns">
                            <br><br>
                            고액결제의 경우 안전을 위해 카드사에서 확인전화를 드릴 수도 있습니다. 확인과정에서 도난 카드의 사용이나 타인 명의의 주문등 정상적인 주문이 아니라고 판단될 경우 임의로 주문을 보류 또는 취소할 수 있습니다.
                            <br><br>
                            무통장 입금은 상품 구매 대금은 PC뱅킹, 인터넷뱅킹, 텔레뱅킹 혹은 가까운 은행에서 직접 입금하시면 됩니다.
                            <br>
                            주문시 입력한 입금자명과 실제입금자의 성명이 반드시 일치하여야 하며, 7일 이내로 입금을 하셔야 하며 입금되지 않은 주문은 자동취소 됩니다
                            <br><br><br><br><br><br>
                        </span>

                        <span class="shippingTextTitle">배송정보</span>
                        <span class="shippingTextContetns">
                            <br><br>
                            배송 방법 : 직접 배송
                            <br>
                            배송 지역 : 전국지역
                            <br>
                            배송 비용 : 무료
                            <br>
                            배송 기간 : 3일 ~ 7일
                            <br>
                            배송 안내 : 산간벽지나 도서지방은 별도의 추가금액을 지불하셔야 하는 경우가 있습니다.
                            <br>
                            고객님께서 주문하신 상품은 입금 확인후 배송해 드립니다. 다만, 상품종류에 따라서 상품의 배송이 다소 지연될 수 있습니다.
                            <br><br><br><br><br><br>
                        </span>

                        <span class="changeTextTitle">교환 및 반품 정보</span>
                        <span class="changeTextContetns">
                            <br><br>
                                <span style="font-weight: bold;">교환 및 반품 주소</span>
                            <br>
                            - 주소 : 서울시 마포구 서교동 홍대입구 인근 3층
                            <br><br>
                                <span style="font-weight: bold;">교환 및 반품이 가능한 경우</span>
                            <br>
                            - 계약내용에 관한 서면을 받은 날부터 7일. 단, 그 서면을 받은 때보다 재화등의 공급이 늦게 이루어진 경우에는 재화등을 공급받거나 재화등의 공급이 시작된 날부터 7일 이내
                            <br>
                            - 공급받으신 상품 및 용역의 내용이 표시.광고 내용과 다르거나 계약내용과 다르게 이행된 때에는 당해 재화 등을 공급받은 날 부터 3월이내, 그사실을 알게 된 날 또는 알 수 있었던 날부터 30일이내
                            <br><br>
                                <span style="font-weight: bold;">교환 및 반품이 불가능한 경우</span>
                            <br>
                            - 이용자에게 책임 있는 사유로 재화 등이 멸실 또는 훼손된 경우(다만, 재화 등의 내용을 확인하기 위하여 포장 등을 훼손한 경우에는 청약철회를 할 수 있습니다)
                            <br>
                            - 이용자의 사용 또는 일부 소비에 의하여 재화 등의 가치가 현저히 감소한 경우
                            <br>
                            - 시간의 경과에 의하여 재판매가 곤란할 정도로 재화등의 가치가 현저히 감소한 경우
                            <br>
                            - 복제가 가능한 재화등의 포장을 훼손한 경우
                            <br>
                            - 개별 주문 생산되는 재화 등 청약철회시 판매자에게 회복할 수 없는 피해가 예상되어 소비자의 사전 동의를 얻은 경우
                            <br>
                            - 디지털 콘텐츠의 제공이 개시된 경우, (다만, 가분적 용역 또는 가분적 디지털콘텐츠로 구성된 계약의 경우 제공이 개시되지 아니한 부분은 청약철회를 할 수 있습니다.)
                            <br><br>
                            ※ 고객님의 마음이 바뀌어 교환, 반품을 하실 경우 상품반송 비용은 고객님께서 부담하셔야 합니다.
                            <br>
                            (색상 교환, 사이즈 교환 등 포함)
                            <br><br><br><br><br><br>
                        </span>

                        <span class="serviceTextTitle">서비스문의</span>
                        <span class="serviceTextContetns">
                            <br><br>
                            09:00~12:00
                            <br>
                            13:00~18:00
                        </span>
                    </div>
                </div>

                <div id="goreview" class="reviewEmptyDiv"></div>



                <!-- 상품후기 -->
                <div id="prdReview">
                    <ul style="display: flex;">
                        <li><a href="#godetail" class="detailBar">상세정보</a></li>
                        <li><a href="#goguide" class="detailBar">이용안내</a></li>
                        <li class="review"><a href="#goreview" class="detailBar">상품후기<span class="reviewCnt">2</span></a></li>
                        <li><a href="#goinquire" class="detailBar">문의하기</a></li>
                    </ul>

                    <div id="review" class="reviewBoard" style="height: auto;">
                        <span style="font-size: 15pt; font-weight:bold">REVIEW</span>
                        <span style="font-size: 12pt; margin-left: 1%;">상품의 사용후기를 적어주세요</span>

                        <!-- 상품 후기 있는 경우 -->
                        <th:block th:if="${product.inventory > 0}"> <!-- 조건식 리뷰 관련으로 바꿔야 함 -->
                            <hr style="border: none; border-top: 1px solid black; margin-top: 1%;">
                            <table class="table table-borderless">
                                <colgroup> <!-- 테이블 간 간격 설정 -->
                                  <col style="width: 10%;">
                                  <col style="width: 60%;">
                                  <col style="width: 10%;">
                                  <col style="width: 20%;">
                                <colgroup>
                                <thead>
                                    <tr class="reviewInfoTitle">
                                        <th scope="col">번호</th>
                                        <th scope="col">제목</th>
                                        <th scope="col">작성자</th>
                                        <th scope="col">작성날짜</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="reviewInfo">
                                        <td colspan="4">리뷰내용(추후제작)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </th:block>

                        <!-- 상품 후기가 없는 경우 -->
                        <th:block th:if="${product.inventory == 0}"> <!-- 조건식 리뷰 관련으로 바꿔야 함 -->
                            <hr style="border: none; border-top: 1px solid #DADADA; margin-top: 1%;">
                            <p th:text="${'작성된 후기가 없습니다.'}" style="font-size: 10.5pt; color: #555555; padding: 6% 0;"></p>
                        </th:block>
                        <hr style="border: none; border-top: 1px solid #DADADA; margin-top: 1%;">

                        <!-- 상품후기 쓰기 / 모두 보기 -->
                        <div style="display: flex; margin-top: 0.5%; justify-content: right;">
                            <div class="reveiwBtn" style="width: 9%; height: 45px; margin-right: 1%; display: flex; justify-content: center; align-items: center;">
                                <span>상품후기 쓰기</span>
                            </div>
                            <div class="reveiwAllsee" style="width: 9%; display: flex; justify-content: center; align-items: center;">
                                <span>모두보기</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="goinquire" class="inquireEmptyDiv"></div>

                <!-- 문의하기 -->
                <div id="prdInquire">
                    <ul style="display: flex;">
                        <li><a href="#godetail" class="detailBar">상세정보</a></li>
                        <li><a href="#goguide" class="detailBar">이용안내</a></li>
                        <li><a href="#goreview" class="detailBar">상품후기<span class="reviewCnt">2</span></a></li>
                        <li class="inquire"><a href="#goinquire" class="detailBar">문의하기</a></li>
                    </ul>

                    <div id="inquire" class="inquireBoard" style="height: auto;">
                        <span style="font-size: 15pt; font-weight:bold">Q&A</span>
                        <span style="font-size: 12pt; margin-left: 1%;">구매하시려는 상품에 대해 궁금한 점이 있으면 문의주시기 바랍니다.</span>

                        <!-- 문의 하기 있는 경우 -->
                        <th:block th:if="${product.inventory > 0}"> <!-- 조건식 QNA 관련으로 바꿔야 함 -->
                            <hr style="border: none; border-top: 1px solid black; margin-top: 1%;">

                            <table class="table table-borderless">
                                <colgroup> <!-- 테이블 간 간격 설정 -->
                                    <col style="width: 10%;">
                                    <col style="width: 60%;">
                                    <col style="width: 10%;">
                                    <col style="width: 20%;">
                                <colgroup>
                                <thead>
                                    <tr class="qnaInfoTitle">
                                        <th scope="col">번호</th>
                                        <th scope="col">제목</th>
                                        <th scope="col">작성자</th>
                                        <th scope="col">작성날짜</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="reviewInfo">
                                        <td colspan="4">QNA 내용(추후제작)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </th:block>

                        <th:block th:if="${product.inventory == 0}">
                            <hr style="border: none; border-top: 1px solid #DADADA; margin-top: 1%;">
                            <p th:text="${'작성된 문의가 없습니다.'}" style="font-size: 10.5pt; color: #555555; padding: 6% 0;"></p>
                        </th:block>

                        <hr style="border: none; border-top: 1px solid #DADADA; margin-top: 1%;">

                        <!-- 상품문의 하기 / 모두 보기 -->
                        <div style="display: flex; margin-top: 0.5%; justify-content: right;">
                            <div class="inquireBtn" style="width: 9%; height: 45px; margin-right: 1%; display: flex; justify-content: center; align-items: center;">
                                <span>상품문의 하기</span>
                            </div>
                            <div class="inquireAllsee" style="width: 9%; display: flex; justify-content: center; align-items: center;">
                                <span>모두보기</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <!-- 상세정보 / 이용안내 / 상품후기 / 문의하기 끝 -->
        </div>

    </section>

    <!-- JS -->
    <th:block th:fragment="script">
      <!-- 서버 데이터를 JavaScript로 전달 -->
        <script th:inline="javascript">
            // 상품 정보
            window.productData = {
                //  /*[[${product.price}]]*/     /*[[...]]*/ 는 ${product.price} 라는 타임리프 표현식을 JS 코드로 변환해준다.
                // 0 은 기본값으로 ${product.price}를 찾지 못할 때 0으로 넘긴다.
                // JS 에서 이 값을 파싱할 때 타입은 원본 유지된다. price, inventory 의 경우 int 타입이므로 JS 에서 number 타입이 된다.
                // 문자열의 경우 /*[[...]]*/ '' 로 작성하며 자동으로 따옴표를 만들어준다 '사과'
                prodNo: /*[[${product.no}]]*/ 0,
                price: /*[[${product.price}]]*/ 0,
                inventory: /*[[${product.inventory}]]*/ 0
            };
        </script>
        <!-- Custom -->
        <script th:src="@{/js/product/productDetail.js}"></script>
    </th:block>
</body>
</html>