<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{::title}, ~{::style}, ~{::script}, ~{::section})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>

    <!-- CSS -->
    <th:block th:fragment="style">
        <!-- Custom -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/cart/cartList.css}" />
    </th:block>
</head>
<body>

    <section>
        <div class="container" style="margin-top: 2%;">
            <!-- 제목 -->
            <div class="titleArea">
                <h3>Cart <i class="bi bi-cart2"></i></h3>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>

            <!-- 장바구니에 상품이 있을 때 -->
            <th:block th:if="${!#lists.isEmpty(cartItemList)}">
                <div class="cart-items">
                    <div th:each="cartItem : ${cartItemList}" class="cart_item" style="display: flex; align-items: center; padding: 2% 0; border-bottom: solid 1px #ccc; border-top: solid 1px #ccc; margin-top: 2%;">
                        <!-- 상품 체크박스 -->
                        <div style="flex: 0.1; text-align: center;">
                            <input type="checkbox" th:id="${cartItem.cartNo}" name="selectedItems" th:value="${cartItem.cartNo}">
                        </div>

                        <!-- 상품 이미지 -->
                        <div class="img" style="flex: 1; text-align: center;">
                            <img th:src="@{'/images/product/thumnail/'+ ${cartItem.productThumbnail}}" style="width: 120px; height: auto; cursor: pointer;" th:onclick="|viewProduct(${cartItem.productNo})|">
                        </div>

                        <!-- 상품 정보 -->
                        <div style="flex: 1;">
                            <p th:text="${cartItem.productName}" class="prod_name" th:onclick="|viewProduct(${cartItem.productNo})|"
                               style="cursor:pointer; font-size: 15pt; margin-left: 3%; font-family: 'Noto Sans KR', sans-serif;">상품명</p>
                            <p style="font-size: 15pt; margin-left: 3%; font-family: 'Noto Sans KR', sans-serif;"
                               class="price" th:text="|${#numbers.formatInteger(cartItem.price, 3, 'COMMA')} 원|"></p>
                        </div>

                        <!-- 수량 조절 -->
                        <div style="flex: 2.9; display: flex; align-items: center; justify-content: center;">
                            <button class="minus" th:value="${cartItem.productNo}" style="width: 8%; font-size: 25pt; background-color: white; border: white;">-</button>
                            <input type='text' min='0' th:value="${cartItem.quantity}" class="prodcount" style=" width: 10%; border:solid 1px #ccc;" />
                            <button class="plus" th:value="${cartItem.productNo}" style="width: 8%; font-size: 25pt; background-color: white; border: white;">+</button>
                            <input type="hidden" th:value="${cartItem.productInventory}" class="productInventory" />
                        </div>


                        <!-- 상품 총액 -->
                        <div style="flex: 1.6; text-align: center;">
                            <span class="prodtotal" th:text="|${#numbers.formatInteger(cartItem.totalPrice, 3, 'COMMA')} 원|"
                                    style="background-color: white; border: 1px solid white; color: black; padding: 4% 30%; font-family: 'Noto Sans KR', sans-serif; font-size: 16pt;"></span>
                        </div>

                        <!-- 삭제 버튼 -->
                        <div style="flex: 0.5; text-align: center;">
                            <button type="button" th:value="${cartItem.cartNo}" class="removeItem"
                                    style="background-color: white; color: black; font-size: 20pt; border: solid 1px white; margin-left: 10%; color: gray;">X</button>
                        </div>
                    </div>
                </div>



                <!-- 선택상품 & 장바구니 합계 -->
                <div class="sum">
                    <!-- 선택 상품 합계 -->
                    <div class="selectsum" style="float: left; margin-left: 48%; padding: 3% 0;">
                        <p style="font-size: 17pt;">선택상품 합계&nbsp; : &nbsp;원</p>
                    </div>

                    <!-- 장바구니 합계 -->
                    <div class="cartsum" style="float: right; padding: 3% 0; margin-right: 3%;">
                        <p style="font-size: 17pt;">장바구니 합계&nbsp; : &nbsp; 원</p>
                    </div>
                </div>


                <div class="ec-base-button gColumn">
                    <a href="#" onclick="Orderpick();" class="btnpick">선택상품 주문하기</a>
                    <a href="#" onclick="OrderAll();" class="btnSubmit">전체상품 주문하기</a>
                    <a href="#" onclick="CartDeleteAll(); return false;" class="btnremove">장바구니 비우기</a>
                </div>

                <!-- 장바구니가 비어있을 경우 -->
                <div th:if="${#lists.isEmpty(cartItemList)}">
                    <div class="jumbotron" style="border: solid 1px #cccccc; background-color: white; margin-top: 5%; font-weight: bold;">
                        <p align="center">장바구니가 비어 있습니다.</p>
                    </div>
                </div>
            </th:block>

            <!-- 장바구니가 비었을 때 -->
            <div th:if="${#lists.isEmpty(cartItemList)}"
                 class="jumbotron" style="border: solid 1px #cccccc; background-color: white; margin-top: 5%; font-weight: bold;">
                <p align="center">장바구니가 비어 있습니다.</p>
            </div>


            <!-- 이용 안내 -->
            <div class="xans-element- xans-order xans-order-basketguide ec-base-help ">
                <div class="inner">
                    <h6>장바구니 이용안내</h6>
                    <ol>
                        <li class="item1">[선택 상품 주문하기] 버튼을 누르시면 장바구니의 선택된 상품들에 대한 주문/결제가 이루어집니다.</li>
                        <li class="item2">[전체 상품 주문하기] 버튼을 누르시면 장바구니의 구분없이 선택된 모든 상품에 대한 주문/결제가 이루어집니다.</li>
                        <li class="item3">[장바구니 비우기] 버튼을 누르시면 장바구니에 있는 모든 상품들이 없어집니다.</li>
                        <li class="item4">선택하신 상품의 수량을 변경하시려면 수량변경 버튼과 키보드로 입력하시면 됩니다.</li>
                        <li class="item5">장바구니와 관심상품을 이용하여 원하시는 상품만 주문하거나 관심상품으로 등록하실 수 있습니다.</li>
                        <li class="item6">파일첨부 옵션은 동일상품을 장바구니에 추가할 경우 마지막에 업로드 한 파일로 교체됩니다.</li>
                        <li class="item7">장바구니와 관심상품을 이용하여 원하시는 상품만 주문하거나 관심상품으로 등록하실 수 있습니다.</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>


    <!-- JS -->
    <th:block th:fragment="script">
        <!-- Custom -->
        <script th:src="@{/js/cart/cartList.js}"></script>
    </th:block>
</body>
</html>